---
import Author from './Author.astro';

const { title, subTitle, author, publishDate } = Astro.props;
---

<div class="layout">
	<article class="content">
		<div>
			<div class="font-[Montserrat] border-4 w-full mt-8 mb-8 text-center"
				style="border-left: 0; border-right: 0;">
				<div class="text-5xl pt-8">{title}</div>
				<div class="text-3xl text-[#868686] pt-2 pb-8">{subTitle}</div>
				<p class="text-[#868686] text-xl">{new Date(publishDate).toLocaleString("default", { dateStyle: "full"
					})}</p>
				<Author name={author} href="https://twitter.com/braedonww" />
			</div>
			<main style="line-height: 24px;" class="text-size-[18px] font-400 ml-auto mr-auto w-50%">
				<slot />
			</main>
		</div>
	</article>
</div>
<style>
</style>