---
const menuLinks = [
    { title: 'Home', link: '/' },
    { title: 'Blog', link: '/blog' },
    { title: 'Projects', link: '/projects' },
    { title: 'Rss', link: '/rss' }
];

const currentPage = new URL(Astro.request.url);
---

<header>
    <a href="/"><img width="80" src="/racoon.png" class="fixed top-2 left-10" /></a>
    <ul text-right>
        {menuLinks.map(menuLink =>
        <li inline-block ml-6>
            <a letter-spacing-2 relative hover="font-bold" text-xl class:list={[menuLink.link=='/' ?
                currentPage.pathname=='/' && 'font-bold' : currentPage.pathname.startsWith(menuLink.link) && 'font-bold'
                , 'hover-animation' ] } no-underline color-inherit href={menuLink.link}><span
                    data-text={menuLink.title}>{menuLink.title}</span></a>
        </li>)}
    </ul>
</header>
<style>
    ul:hover a:not(:hover) {
        font-weight: 400;
    }

    a:hover.hover-animation:after {
        transform: scaleX(1);
        transform-origin: left;
    }

    a span {
        display: inline-flex;
        flex-direction: column;
        user-select: none;
    }

    a span:after {
        content: attr(data-text);
        height: 0;
        visibility: hidden;
        overflow: hidden;
        user-select: none;
        pointer-events: none;
        font-weight: bold;
    }

    @media speech {
        a span:after {
            display: none;
        }
    }

    .hover-animation:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        transform: scaleX(0);
        width: 100%;
        display: block;
        transform-origin: right;
        height: 0.1em;
        background: #0a9396;
        transition: transform 0.3s linear;
    }
</style>